/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Images */
.img-responsive {
  display: inline-block;
  box-shadow: 1px 1px 3px black;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin: 20px 0 0;
}

/* Custom default button */
.btn-default {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: Transparent;
  border: 1px solid white;
  padding: 20px 40px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 60px 0 0;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: Transparent;
  border: 1px solid #60DFE5;
}

input[type=submit] {
  cursor: pointer;
  text-align: center;
  border: 2px solid black;
  padding: 15px 0px;
  font-size: 12px;
  margin: 10px auto;
  width: 120px;
  display: block;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  background-color: white;
  font-weight: 100;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  border-radius: 6px;
}

/* Social Media Buttons */

ul.social li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 20px;
  color: #999;
}

/* Forms */

form {
  border-color: white;
}

form .row {
  width: 100%;
  display: block;
  padding: 6px 0px;
  margin-left: 2px;
}

form .row .field {
  float: left;
  width: 100%;
}

form input {
  padding: 16px;
  border: none;
  border: 0px;
  font-size: 12px;
  width: 70%;
  letter-spacing: 1px;
  color: black;
}

form textarea {
  color: black;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: url('../img/workspace.jpg') no-repeat center center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
.inner .social {
  padding: 0px !important;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
