<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Simon Kim | Web Developer in Seattle</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/about.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Simon Kim</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/about">About Me</a></li>
                <li><a href="#/work">Work</a></li>
                <li><a href="#/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <img src="img/me3.jpg" class="img-responsive">
          <img src="img/me2.jpg" class="img-responsive">
          <img src="img/me4.jpg" class="img-responsive">
          <h1 class="cover-heading">Inspired Web Developer</h1>
          <p>Born and raised in Orange County, CA, I am a work hard, play hard individual. Dissatisfied with the
            lack of space for expression and creativity, as well as change, within the medical field, I looked
            elsewhere to feed the caged beast of passion inside of me.</p>

          <p>I stumbled upon programming in the early summers of 2014 and began to encompass my life around
            self-motivating and self-teaching myself how to code. Once I hit a wall and couldn't find any more
            online resources, I took my talents to Seattle, WA in order to surpass this hurdle and was accepted
            into the Code Fellows full-stack Javascript accelerator.</p>

          <p>Graduating from Code Fellows in December 2014, I am now proficient in JavaScript, Node.js, AngularJS,
            Bootstrap, MongoDB, Express, HTML/CSS and much more. However, my thirst for learning has not yet been
            quenched and I continue to practice and learn upcoming changes to the programming world. For example,
            I have set my sights on learning React/Flux and the upcoming changes in ES6 and Angular 2.0 .</p>

          <p>Currently, I am looking for an environment where I can not only refine my craft but also thrive under
            the fast-paced pressures of development and work with a team that I can benefit from and return the favor.
            I hope to remain in Seattle to live and breathe coding culture for a little while longer as well as explore
            an area I am unaccustomed to.</p>

          <p>In my spare time I like to go hiking, try different foods and beers/whiskys, hunt the web for new music,
            and spend an excessive amount of time on fashion, e-Sports, and gaming. Coffee is foreign to me, but I
            would love to get into it and I make a pretty decent guacomole. Other than that, I love to code and explore
            everything that's new in the rapidly changing world around me.</p>
        </div>

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="app_bundle.js"></script>
</body>
</html>
