<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Simon Kim | Web Developer in Seattle</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/contact.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Simon Kim</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/about">About Me</a></li>
                <li><a href="#/work">Work</a></li>
                <li class="active"><a href="#/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Let's make a great team!</h1>
          <h4>If you would like to get in touch, work together, <br>
            just say hello, or grab a bite together, <br>
            feel free to leave me a message below!</h4>

          <form method="post" id="contact-form" name="contactform">

            <div class="row"><div class="field"><input type="text" id="contact-form-name" name="name"  placeholder="Your Name"></div></div>
            <div class="row"><div class="field"><input type="text" id="contact-form-mail" name="email" placeholder="Your Email"></div></div>
            <div class="row"><div class="field"><input name="phone" type="text" name="phone" id="contact-form-phone" placeholder="Phone"></div></div>
            <div class="row"><textarea  id="contact-form-message" name="message" maxlength="1000" cols="25" rows="6" placeholder="What's up?"></textarea></div>

            <h5 id="submitResponse"></h5>
            <input type="submit" id="contact-form-submit" class="button" value="SEND!">
          </form>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <ul class="social">
              <li><a href="https://facebook.com/stykk"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://github.com/simon-kim"><i class="fa fa-github-alt"></i></a></li>
              <li><a href="https://linkedin.com/in/simontykim"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="http://instagram.com/simonnsayys"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="src/contact.js"></script>
  <script src="app_bundle.js"></script>
</body>
</html>
